
.header#header
   .header-item1
      img(class="header__logo" alt="logo" src="images/logo.svg")


   .header-item2
      a(href="https://mail.google.com/mail/u/0/#inbox?compose=CllgCJfsckBVdppxnCzfTTJGkLQnWgFWFtHZhjmLqwJDDgKcfRQcJGmnbPtNWdjkhkldhWknjpg" class="header__message-icon")
      p.header__message-text support@piastrix.com
      button(href='javascript:void(0)' class='header__button' target='_blank') English
      p.header__message-text |
      button(href='javascript:void(0)' class='header__button' target='_blank') Русский

      

      
 



