.main-block
    .main-block__header Номер инвойса 101
    .main-block__info  
        .main-block__description Получатель:
        .main-block__text test SHop

    .main-block__info  
        .main-block__description Описание
        .main-block__text Test invoice

    hr.main-block__line

    .main-block__price
        .main-block__text-price Сумма:
        .main-block__text-price 10 RUB


    
        
