.pay-block
    .pay-block-item1
        .pay-block__header Метод оплати
    .pay-block-item2
        .pay-block__container
            a(class="pay-block__icon-bit" href="index2.html")
            .pay-block__text Bitcoin
        .pay-block__container
            a(class="pay-block__icon-master" href="index2.html")
            .pay-block__text Visa/Mastecard
        .pay-block__container
            a(class="pay-block__icon-mts" href="index2.html")
            .pay-block__text MTS

        .pay-block__container
            a(class="pay-block__icon-web" href="index2.html")
            .pay-block__text Webmoney

        .pay-block__container
            a(class="pay-block__icon-payeer" href="index2.html")
            .pay-block__text Payeer


