.footer
    .footer-item1
        footer__text КОНТАКТЫ
        
    .footer-item2
        a(href="https://uk.wikipedia.org/wiki/Visa_Inc.")
            img.footer__visa(src="images/visa.png" alt="visa")
        a(href="https://uk.wikipedia.org/wiki/MasterCard")
            img.footer__card( alt="master" src="images/masterCard.png")
        a(href="https://uk.wikipedia.org/wiki/PCI_DSS")
            img.footer__dss(src="images/pciDss.png" alt="dss")
    
    .footer-item3
        button(href='javascript:void(0)' class='footer__button' target='_blank') English
        p.footer__message-text |
        button(href='javascript:void(0)' class='footer__button' target='_blank') Русский