doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    title Task
    link(href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet")
    link(rel='stylesheet', href='./css/all.css')
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js")
  body
 
    include componets/header/header.pug
    include componets/main-block/main-block.pug
    include componets/form-block/form-block.pug
    include componets/footer/footer.pug
    script(src='js/index.js')
