.form-block(id="myHeader")
    img.form-block__img(src="images/webmoney.png" alt="photo")
    form.form-block__form
        p.form-block__text Введите ваш email
        input.form-block__input(name="email" value="someone@gmail.com")
        input.form-block__button(type="submit")